@font-face {
font-family: 'HomeSweetHome-Regular';
font-style: normal;
font-weight: normal;
src: local('HomeSweetHome-Regular'), url('assets/home sweet home.woff') format('woff');
}


@font-face {
font-family: 'HomeSweetHomeOutline-Regular';
font-style: normal;
font-weight: normal;
src: local('HomeSweetHomeOutline-Regular'), url('assets/home sweet home outline.woff') format('woff');
}
body{
	width: 100vw;
	height:100%;

}

.container-fluid{
	width: 100vw;
	margin-left: -0.5%;
}
.lol{
	height: 90vh;
}

.colwhite{
	color: white;
}
#lscr{
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: grey;
	z-index: 9999;

}
#lscr h1{
	display: flex;
	position: absolute;
	animation: rot 1s infinite linear; 
}
.lol{
	background: url('assets/img/conc.jpg');

}
@media only screen and (max-width: 600px) {
	body{
	margin: 0 -1%;
}
}
@keyframes rot{
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}
