---
import Layout from "../layouts/Layout.astro";
---

<Layout title="I'm Arjun." description="A Developer who loves to code.">
  <main>
    <canvas id="canvas3d" style="width: 100%; height: 100%;"></canvas>
  </main>
</Layout>
<script>
  // @ts-ignore
  import { Application } from "@splinetool/runtime";

  const canvas = document.getElementById("canvas3d");
  const app = new Application(canvas);
  app.load("https://draft.spline.design/NbaNaZ2C2Uk9PzFj/scene.splinecode");
</script>

<style>
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }
</style>
