---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import "@fontsource/red-hat-display/300.css";
import "@glidejs/glide/dist/css/glide.core.min.css";
import "@glidejs/glide/dist/css/glide.theme.min.css";

interface Projects {
  name: string;
  description: string;
  image: string;
  url: string;
}
const projects: Projects[] = [
  {
    name: "Portfolio Page",
    description: "A Page, for me and my projects.",
    image: "portfolio.png",
    url: "https://github.com/arjunindia/arjunindia.github.io",
  },
  {
    name: "TUI Pokedex",
    description: "A Pokedex in your terminal.",
    image: "tuipokedex.png",
    url: "https://github.com/arjunindia/tui_pokedex",
  },
  {
    name: "Positron",
    description: "Search and add your movies/shows.",
    image: "positron.png",
    url: "https://github.com/arjunindia/positron",
  },
];
---

<Layout title="Projects" description="An Array of projects I have made.">
  <main>
    <div class="glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          {projects.map((project) => <Card {...project} />)}
        </ul>
      </div>
      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"
          >prev</button
        >
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">"
          >next</button
        >
      </div>
    </div>
  </main>
</Layout>

<script>
  // @ts-ignore
  import Glide from "@glidejs/glide";

  new Glide(".glide", {
    type: "slider",
    startAt: 0,
    perView: 4,
    autoplay: 2000,
    focusAt: 1,
    gap: 30,

    breakpoints: {
      1200: {
        perView: 2,
      },
      800: {
        perView: 1,
      },
    },
  }).mount();
</script>

<style>
  main {
    color: aliceblue;
    padding: 6rem;
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 8rem;
  }
</style>
