---
import Layout from "../layouts/Layout.astro";
import "@fontsource/red-hat-display/300.css";
---

<Layout title="About" description="About me, and this project.">
  <main></main>
</Layout>

<script></script>

<style>
  main {
    color: aliceblue;
    padding: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
</style>
