---
interface Props {
  name: string;
  description: string;
  image: string;
  url: string;
}
const { name, description, image, url } = Astro.props;

const newImageUrl = `url(/projects/${image})`;
---

<a href={url} target="_blank" class="glide__slide">
  <div class="card">
    <div class="content">
      <h2>{name}</h2>
      <p>{description}</p>
    </div>
  </div>
</a>

<style define:vars={{ newImageUrl }}>
  a {
    text-decoration: none;
    color: white;
  }
  .card {
    border-radius: 1.25rem;
    border: 5px solid var(--slate-200, #e2e8f0);
    background: rgba(1, 1, 1, 0.81);

    /* shadow */
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.09);
    background: var(--newImageUrl) no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 50vh;
    min-width: 15vw;
    padding: 1rem 2rem;
    display: flex;
    align-items: end;
  }
  .card .content {
    display: flex;
    opacity: 0;
    height: 100%;
    flex-direction: column;
    /* justify-content: ; */
  }
  .card:hover .content {
    opacity: 1;
    transition: opacity 0.3s;
  }
  h2 {
    font-family: "DM Serif Display", sans-serif;
    font-weight: 400;
    line-height: 0;
  }
</style>
